html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
body {
  background-color: hsl(229, 57%, 11%);
  background-image: url(/images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
  background-size: 100% 50%; /* background-size: width,height; */
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.folder {
  background-color: hsl(228, 56%, 26%);
  padding: 30px;
  padding-right: 8rem;
  border-radius: 10px;
  border-top-right-radius: 5rem;
}
.logo {
  height: 40px;
  width: 7rem;
}
.doc {
  margin-top: 20px;
}
.icon {
  height: 20px;
  width: 20px;
  background-color: hsl(229, 57%, 11%);
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.folder2 {
  position: relative;
  top: 0.9rem;
  background-color: hsl(228, 56%, 26%);
  padding: 30px;
  height: 4.8rem;
  width: 28rem;
  border-radius: 10px;
  margin-left: 3rem;
}
.speech-bubble {
  position: relative;
  background-color: white;
  color: black;
  text-align: center;
  width: 140px;
  height: 60px;
  border-radius: 10px 10px 0px 10px;
  padding: 4px;
  transform: translate(200%, -110%);
}

.speech-bubble::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent white transparent transparent;
  bottom: -20px;
  left: 105%;
  margin-left: -27px;
}

.speech-bubble span {
  font-weight: 700;
  font-size: 2.3rem;
  color: black;
  margin: 8px;
}
.speech-bubble p {
  font-size: 0.8rem;
  color: hsla(229, 7%, 55%, 0.89);
  font-weight: 700;
}
.nav {
  position: relative;
  bottom: 4.8rem;
}
.nav p {
  font-size: 1rem;
  color: hsl(243, 100%, 93%);
}
.nav span {
  color: hsl(243, 100%, 93%);
  font-weight: 700;
}
.scroll {
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  height: 0.8rem;
  width: 27.8rem;
  border: 3px solid hsl(229, 57%, 11%);
}
.pink-scroll {
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
  height: 0.8rem;
  width: 20rem;
}
.pointer {
  height: 0.7rem;
  border-radius: 50%;
  background-color: hsl(243, 100%, 93%);
  width: 10px;
  position: relative;
  left: 19.28rem;
}
.gbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -5.2rem;
  /* right: 10rem; */
  font-weight: 700;
  color: hsl(243, 100%, 93%);
}
